.contact-header {
  width: 100%;
  text-align: center;
  padding: 1em;background: rgb(80,174,193);
  background: linear-gradient(90deg, rgba(80,174,193,1) 0%, rgba(0,176,139,1) 100%);
  color: white;
  font-weight: bold;

}
.contact-row{
  border-bottom: 1px solid gray;
  cursor: pointer;
  .c-r-name{
    justify-items: center;
    margin: auto 0;
  }
}
ul {
  list-style-type: none;
}
